<<<<<<< HEAD
=======
@font-face {
  font-family: 'yofont';
<<<<<<< HEAD
  src: url('/images/iconfont/iconfont-ll.woff') format('woff'), url('/images/iconfont/iconfont-ll.ttf') format('truetype');
}
@font-face {
  font-family: 'yofont';
  src: url('/images/iconfont/iconfont.woff') format('woff'), url('/images/iconfont/iconfont.ttf') format('truetype');
}
=======
  src: url('/images/iconfont/iconfont.woff') format('woff'),
       url('/images/iconfont/iconfont.ttf') format('truetype');
}
>>>>>>> qzh
>>>>>>> 6e0eb2b8e9b46ba68f6df9f0e4078d5614b04eae
