@font-face {
  font-family: 'yofont';
  src: url('/images/iconfont/iconfont-ll.woff') format('woff'), url('/images/iconfont/iconfont-ll.ttf') format('truetype');
}
@font-face {
  font-family: 'yofont';
  src: url('/images/iconfont/iconfont.woff') format('woff'),
       url('/images/iconfont/iconfont.ttf') format('truetype');
}
