@charset "UTF-8";


.invest-box{
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    section{
        height: 100%;
        .month{
            @include flexbox();
            li{
                width:33%;
                p{
                    height: 0.9rem;
                    text-align: center;
                    line-height: 0.9rem;
                    color: #343434;
                }
                p.active{
                    @include border(0 0 2px 0,#007aff);
                    color:#007aff ;
                }
            }
        }
    }
}